# SUPABASE DATABASE CLOUD CONFIGURATION
# Salin file ini menjadi '.env' dan isi dengan URL & Anon Key dari Dashboard Supabase Anda (https://supabase.com)

VITE_SUPABASE_URL=https://your-supabase-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-public-key-here
